
:root {
    --yellow: #ffc000;
    --white: #f2f2f2;
    --Black: #333333;
  }
html{
    height: 100dvh;
    
}
body{
    font-family: "-apple-system", "BlinkMacSystemFont", "-apple-system",
    "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Open Sans", "Helvetica Neue", sans-serif;
    background-color:var(--white);
    margin: 0px 10px;
    
}
#root{
display: flex;
flex-direction: column;
height: 100dvh;
}

.content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 0.5fr 0.5fr max-content 1fr ;
    flex-grow: 1;

}
.card{
    align-self: center;
border-radius: 20px;
text-align: center;
grid-column: 2/12;
justify-self: center;
margin: 20px;
max-width: 400px;
background-color: lightblue;

}
.footer{
    text-align: center;
}
.goToSignup{
    color: var(--Black);
    height: 25px;
    width: 80px;
    text-align: center;
    grid-row: 3/4;
    grid-column: 2/12;
    justify-self: center;
    transform: scale(0.8);
}
.goToSignup:hover{
    color: var(--white);
    background-color: var(--yellow);
}
.haveNoAccount{
    height: 25px;
    grid-row: 2/3;
    grid-column: 2/12;
    justify-self: center;
}
.formTitle{
    margin-bottom: 4px;
    color: var(--Black);
    font-weight:400;
}
form{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
    margin-top: 20px;
    
}
.email{
    
    grid-column: 2/12;
    text-align: left;
    justify-self: center;
    color: var(--Black)
    
}
.userWelcomeTitle{
    grid-column: 2/12;
    justify-self: center;
    text-align: center;
}
.formElement{
    grid-column: 1/13;
    justify-self: center;
    text-align: start;
}

.fileUpload{
    grid-row: 2/3;
    grid-column: 2/12;
    justify-self: center;
    border: none;
    background-color: none;
}
input{
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--white);
    width: 200px;
    height: 30px;
    border: none;
    
    
}
.uploadButton{
    grid-row: 4/5;
    grid-column: 1/13;
    align-self: start;
    width: 100px;
    justify-self: center;
}
.loading{
    font-size: xx-large;
}
label{
     font-weight: lighter;
}
.welcomeHeader{
    grid-column: 1/13;
    grid-row: 3/4;
    font-size:xx-large;
    font-weight: 400;
    justify-self: center;
}
nav{
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
    height: 40px;

}
a{
    color: var(--Black);
    padding: 1px 5px;
    border-radius: 5px;
text-decoration: none;

}
a:hover{
    text-decoration: none;
}
.welcomeLogo{
    grid-column: 1/13;
    grid-row: 1/3;
    height: 150px;
    align-self: end;
    justify-self: center;
    /* animation:alternate infinite breath 1s ease-out;

    animation-play-state: running; */
}
.slideBox{
    
    grid-column: 1/13;
    grid-row: 3/4;
    display: flex;
    overflow-x: auto; 
}
.slideItem{
    width: auto;
    height: 200px;
    border-radius: 10px;
    flex-shrink: 0; 
    margin-right: 10px; 
    
}
.password{
    grid-column: 2/12;
    text-align: left;
    justify-self: center;
    color: var(--Black)
}
.passwordConfirmation{
    grid-column: 2/12;
    text-align: left;
    justify-self: center;
    color: var(--Black)
}
.submit{
    grid-column: 2/12;
    justify-self: center;
    width: 100%;
    margin-bottom: 20px;
}
.submitButton{
    background: linear-gradient(145deg, #ebc64f, var(--yellow));
 box-shadow:  5px 5px 10px #424141,;
    width: 100%;
    border: none;
    margin-top: 15px;
    color: white;
    background-color: var(--yellow) ;
    border-radius: 10px;
    transition: transform 0.2s ease;
}
.submitButton:hover{
    cursor: pointer;
    transform: scale(1.01);
}
.appHeader{
    background-color: lightblue;
    border-radius: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: lighter;
}
/* @keyframes zoom {
    0% {
        transform: translateY(-280px) translateX(-100px) scale(0);
        z-index: -1;
        opacity: 0%;
      }
      100% {
        transform: translateY(0px) translateX(0px) scale(1);
        z-index: 0;
        opacity: 100%;
      }
} */
@keyframes breath {
    0%{
        transform: translateY(0px) scale(1)
    }
    100%{
        transform: translateY(-20px) ;
    }
}